/* ======================= font style ==================== */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* ---------------------- font style --------------------- */
/* ======================= common css start =============== */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
ul,
ol,
li,
a {
  padding: 0;
  margin: 0;
  outline: 0;
}
html {
  scroll-behavior: smooth;
}
/* ------------------------ common css end ================ */
/* ======================= common css start =============== */
:root {
  --main_bg_color: #fff;
  --cardBanner_bg-color: #f3f3f3;
  --band_color: #262626;
  --primary_color: #767676;
  --footer_font_color: #6d6d6d;
  --font_family: "DM Sans", sans-serif;
}
/* ------------------------ common css end ================ */
/* ------------------------ Header css Start ================ */
#Header {
  padding: 32px 0;
  background-color: var(--main_bg_color);
}
.HeaderPart {
  display: flex;
  column-gap: 544px;
}
.HeaderPartMenu {
  display: flex;
  column-gap: 40px;
}
.HeaderPartMenuItem__link {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--primary_color);
}
/* ------------------------ Header css end ================ */
/* ------------------------ Navbar css Start ================ */
#Navbar {
  background-color: #f5f5f3;
  padding: 25px 0;
}
.NavbarPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavbarPartleft__Titele {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--band_color);
  align-items: center;
}
.NavbarPartleftlist {
  display: none;
  background-color: var(--main_bg_color);
  position: absolute;
  left: 0px;
  top: 21px;
  padding: 18px;
}
.NavbarPartleftlistItem {
  margin-top: 15px;
}
.NavbarPartleftlistItem__link {
  font-family: var(--font_family);
  font-size: 14px;
  font-weight: 400;
  color: var(--band_color);
}
.NavbarPartleft__Titele:hover .NavbarPartleftlist {
  display: block;
}
.NavbarPartMiddleFrom {
  background-color: var(--main_bg_color);
  padding: 16px 21px;
}
.NavbarPartMiddleFrom__input {
  padding-right: 443px;
  border: none;
}
.NavbarPartMiddleFrom__btn {
  background-color: var(--main_bg_color);
  border: none;
}
.NavbarPartRight {
  display: flex;
  column-gap: 41px;
  align-items: center;
}
.NavbarPartRight__User {
  display: flex;
  column-gap: 10px;
}
/* ------------------------ Navbar css Start ================ */
/* ------------------------ footer css Start ================ */
#Footer {
  background-color: #f5f5f3;
  padding: 55px 52px;
}
.FooterPart {
  /* css */
}
.FooterPartIteam {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.FooterPartIteamList__link {
  font-size: 14px;
  font-weight: 400;
  color: #6d6d6d;
  font-family: var(--font_family);
}
.FooterPartIteamList__link--cstm {
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 800;
  font-family: var(--font_family);
  color: var(--band_color);
}
.FooterPartIteam__contactNum {
  font-size: 16px;
  font-weight: 800;
  font-family: var(--font_family);
  color: var(--band_color);
}

.FooterPartIconBoxWrapper {
  margin-top: 65px;
}
.FooterPartIconBox {
  display: flex;
  column-gap: 26px;
  align-items: center;
}
.FooterPart__footerline {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font_family);
  color: #6d6d6d;
 
}
/* ------------------------ footer css end ================ */

/* ------------------------ Hero css  ================ */
#heroPart{
    background-color: #F5F7F9;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  }
  
  .count{
    font-size: 10px;
    font-weight: 400;
    font-family: var(--font_family);
    color: var(--band_color);
    position: relative;
    margin-left: 26px;
  }
  
  .count::after{
    position: absolute;
    content: "";
    height: 30px;
    width: 2px;
    background-color: var(--band_color);
    right: -10px;
  }
  
  .heroLeft{
    row-gap: 33px;
  }
  
  .heroLeft__title{
    font-size: 49px;
    font-weight: 700;
    color: var(--band_color);
    font-family: var(--font_family);
  }
  
  
  .heroLeft__summary{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family);
    color: var(--footer_font_color);
  }
  
  strong{
    font-size: 40px;
    font-weight: 700;
    font-family: var(--font_family);
    color: var(--band_color);
    padding-right: 5px;
    margin-left: 5px;
  }
  
  .shopBtn{
    padding: 16px 57px ;
    background-color: var(--band_color);
    color: var(--main_bg_color);
    font-size: 14px;
    font-weight: 700;
    font-family: var(--font_family);
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    margin-top: 16px;
  }
  
  .shopBtn:hover{
     border: 1px solid var(--band_color);
     background-color: transparent;
     color: var(--band_color);
  }
  /* ------------------------ Hero css  ================ */
  
  /* ------------------------ information css  ================ */
  #informationPart {
    padding: 21px;
    background-color: var(--main_bg_color);
    border-bottom: 1px solid #f0f0f0;
  }
  
  .contentOneCount {
    font-size: 21px;
    font-weight: 700;
    padding-right: 16px;
    margin-bottom: 1px;
    color: var(--band_color);
    margin-left: 26px;
  }
  
  .contentOne__summary {
    font-size: 16px;
    font-weight: 400;
    color: var(--footer_font_color);
  }
  i[class="fa-sharp fa-solid fa-truck"],
  [class="fa-solid fa-rotate-left"] {
    font-size: 16px;
    padding-right: 15px;
  }
  
  /* ------------------------ infornmation css  ================ */
  
  
  /* ------------------------ Ads css  ================ */
  #adsPart{
    padding: 174px 0 128px 0;
  }
  
  
  .adsContent{
    row-gap: 36px;
    bottom: 0;
    padding-left: 64px;
    padding-bottom: 23px;
  }
  
  .adsContent__title{
    font-size: 49px;
    font-weight: 700;
    font-family: var(--font_family);
    color: var(--band_color);
  }
  
  .adsContent__summary{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family);
    color: #858687;
  }
  
  .btnOne{
    padding: 15px 57px;
    background-color: var(--band_color);
    color: var(--main_bg_color);
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
  }
  
  .btnOne:hover{
    background-color: transparent;
    border: 1px solid var(--band_color);
    color: var(--band_color);
  }
  
  .adsContentOne{
    row-gap: 36px;
    padding-left: 42px;
    padding-bottom: 31px;
  }
  
  .adsContentOne__title{
    font-size: 39px;
    font-weight: 700;
    font-family: var(--font_family);
    color:var(--band_color);
  }
  
  .adsContentOne__summary{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family);
    color: #858687;
  }
  
  .btnTwo{
    padding: 15px 57px;
    background-color: var(--band_color);
    color: var(--main_bg_color);
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
  }
  
  .btnTwo:hover{
    background-color: transparent;
    color: var(--band_color);
    border: 1px solid var(--band_color);
  }
  /* ------------------------ Ads css  ================ */
/* ========================= arravals css start ============ */
#arrivals{
  padding-bottom: 50px;
  background: var(--main_bg_color);
}
.arrivalsHead__title{
  font-size: 39px;
  font-weight: 700;
  font-family: var(--font_family);
  color: var(--band_color);
  padding-bottom: 45px;
}
.productCard{
  max-width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items:start;
  row-gap: 20px;
  margin-bottom: 50px;
}
.productCardImg{
  position: relative;
  padding-bottom: 30px;
  overflow: hidden;
}
.productCardImg__btn{
  padding: 9px 30px;
  background: var(--band_color);
  font-size: 14px;
  font-weight: 700;
  font-family: var(--font_family);
  color: var(--main_bg_color);
  position: absolute;
  top: -100px;
  left: 20px;
  transition: all linear 0.3s;
}
.productCard:hover .productCardImg__btn{
  top: 20px;
}
.productCardImgOverlay{
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 10px;
  background: var(--main_bg_color);
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  padding:16px 30px;
  transition: 0.6s;
}
.productCard:hover .productCardImgOverlay{
  top:52%;
}
.productCardImgOverlay__title{
  font-size:16px ;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--primary_color);
  transition: all linear 0.3s;
}
.productCardImgOverlay__title span{
  color: var(--band_color);
}
.productCardImgOverlay__title:hover{
  color: var(--band_color);
}
.productCardHead{
  display: flex;
  justify-content: space-between;
  gap:42px;
}
.productCardHead__title{
  font-size: 15px;
  font-weight: 700;
  font-family: var(--font_family);
  color: var(--band_color);
}
.productCardHead__price{
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--primary_color);
}
.productCardHead__color{
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--primary_color);
}
/*------------------------------ arrival part end --------------- */
/* ============================= phone part start =============== */
#phonePart{
  padding-bottom: 128px;
  background: var(--main_bg_color);
}

.phonePartHead{
  padding: 60px 10px;
  height: 100%;
  background: var(--cardBanner_bg-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 27px;
}
.phonePartHead__title{
  font-size: 39px;
  font-weight: 700;
  font-family: var(--font_family);
  color: var(--band_color);
}
.phonePartHead__sumary{
  max-width: 511px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--band_color);
}
.phonePartHead__btn{
  padding: 16px 57px;
  border: 1px solid var(--band_color);
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font_family);
  color: var(--main_bg_color);
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all linear 0.3s;
}
.phonePartHead__btn:hover{
  color: var(--band_color);
}
.phonePartHead__btn::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--band_color);
  z-index: -1;
  transition: all linear 0.3s;
}
.phonePartHead__btn:hover::after{
  left: 100%;
}
