/* ================ Extra Large device ============== */
@media (max-width: 1399.98px) { 
  :root {
  --main_bg_color: #fff;
  --cardBanner_bg-color: #f3f3f3;
  --band_color: #262626;
  --primary_color: #767676;
  --footer_font_color: #6d6d6d;
  --font_family: "DM Sans", sans-serif;
}
/* ------------------------ Header css Start ================ */

}