/* ================ Mediam device ============== */
@media (max-width: 991.98px) {
  :root {
    --main_bg_color: #fff;
    --cardBanner_bg-color: #f3f3f3;
    --band_color: #262626;
    --primary_color: #767676;
    --footer_font_color: #6d6d6d;
    --font_family: "DM Sans", sans-serif;
  }
  /* ==================== Header start ========== */
  .HeaderPart {
    display: flex;
    column-gap: 257px;
  }
  /* ==================== Header end ========== */
  /* ==================== NavbarPart Start ========== */
  .NavbarPartMiddleFrom__input {
    padding-right: 128px;
    border: none;
  }
  /* ==================== NavbarPart end ========== */
  .contentOneCount {
    margin-left: 0px;
}
.adsContent {
    row-gap: 36px;
    padding-left: 48px;
}
.adsContent__title {
    font-size: 40px;
}
.adsContentOne__title {
    font-size: 39px;
}
.adsContentOne {
    row-gap: 36px;
    padding-left: 48px;
    padding-bottom: 59px;
}
/* ============ phone part ============= */
.phonePartHead {
	row-gap: 18px;
}
.phonePartHead__title {
	font-size: 28px; 
}
.phonePartHead__sumary {
	font-size: 12px;
}
.phonePartHead__btn {
	padding: 8px 35px;
}
}
