/* ================ Extra Small device ============== */
@media (max-width: 575.98px) { 
  .productHead__title {
    font-size: 32px;
  }
  .productHead {
    padding-bottom: 60px;
  }
  .category__title {
    font-size: 10px;
  }
  .categoryHead {
    padding-bottom: 25px;
  }
  .categoryHeadSearch {
    column-gap: 5px;
  }
  .categoryHeadSearchBar {
    column-gap: 0px;
  }
  .categoryHeadSearchBar__title {
    font-size: 10px;
  }
  .nav-link {
    width: 86px;
    font-size: 10px;
    padding: 7px 0;
    align-items: center;
  }
  .productCardListItem {
    padding-left: 20px;
  }
  .productCardWrapper {
    padding: 60px 0 10px 20px;
  }
  .productCardList {
    flex-wrap: wrap;
  }
  .productCardList__sumary {
    font-size: 12px;
    padding: 10px 0 0 20px;
  }
}
