/* ================ Extra Small device ============== */
@media (max-width: 575.98px) {
  :root {
    --main_bg_color: #fff;
    --cardBanner_bg-color: #f3f3f3;
    --band_color: #262626;
    --primary_color: #767676;
    --footer_font_color: #6d6d6d;
    --font_family: "DM Sans", sans-serif;
  }
  /* =============Header css start=========== */
  .HeaderPart {
    column-gap: 80px;
  }
  .HeaderPartMenu {
    column-gap: 30px;
  }
  /* =============Header css end=========== */
  /* =============NavbarPart css Start=========== */
  .NavbarPartMiddleFrom {
    padding: 5px 0px;
  }
  .NavbarPartMiddleFrom__input {
    padding-left: 5px;

    font-size: 14px;
  }
  .NavbarPartMiddleFrom__btn {
    padding-right: 10px;
  }
  .NavbarPartRight {
    column-gap: 14px;
  }
  /* =============NavbarPart css end=========== */
  .productHead__title {
    font-size: 32px;
  }
  .productHead {
    padding-bottom: 60px;
  }
  .category__title {
    font-size: 10px;
  }
  .categoryHead {
    padding-bottom: 25px;
  }
  .categoryHeadSearch {
    column-gap: 5px;
  }
  .categoryHeadSearchBar {
    column-gap: 0px;
  }
  .categoryHeadSearchBar__title {
    font-size: 10px;
  }
  .nav-link {
    width: 86px;
    font-size: 10px;
    padding: 7px 0;
    align-items: center;
  }
  .productCardListItem {
    padding-left: 20px;
  }
  .productCardWrapper {
    padding: 60px 0 10px 20px;
  }
  .productCardList {
    flex-wrap: wrap;
  }
  .productCardList__sumary {
    font-size: 12px;
    padding: 10px 0 0 20px;
  }
}
